.login-popup { 
    justify-content: center; 
    align-items: center;
    margin-top: 10rem;
}
.login-popup-container {
    display: flex;
    gap: 25px;
    border: 1px solid #2887ff;
    flex-direction: column;
    color: #808080;
    width: max(23vw,300px);
    padding: 25px 30px;
    border-radius: 20px;
    font-size: 14px;
}
.login-popup-inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login-popup-inputs input {
    outline: none;
    border: 1px solid #c9c9c9;
    border-radius: 4px;
    padding: 10px;
}
.lll {
    color: #2887ff;
}
.login-popup-container button {
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: white;
    background-color: #2887ff;
    font-size: 15px;
    cursor: pointer;
}
.login-popup-condition {
    align-items: start;
    display: flex;
    gap: 8px;
    margin-top: -15px;
}
.login-popup-condition input {
    margin-top: 5px;
}