svg {
  width: 20px;
}
hr {
  border: none;
  height: 30px;
  width: 1px;
  background-color: #2887ff;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9vh;
  padding: 0 1rem;
}
.navLogo {
  font-size: 1.9rem;
  cursor: default;
  color: #323232;
  font-weight: 500;
}
nav,
.navLinks ul {
  display: flex;
}
.navContact {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.navRight {
  display: flex;
  align-items: center;
  gap: 15px;
}
.socialIcon {
  width: 25px;
  cursor: pointer;
}
.navButton {
  background-color: transparent;
  border: 1px solid #2887ff;
  border-radius: 30px;
  cursor: pointer;
  padding: 0.5rem 1rem;
  color: #2887ff;
  transition: 0.4s ease;
}
.navButton:hover {
  background-color: #2887ff;
  color: #fff;
}
.navImage {
  width: 20px;
}
.navImageTop {
  width: 25px;
}
.navButtonBottom {
  background-color: #2887ff;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  padding: 0.5rem 1rem;
}
.navLeft {
  display: flex;
  gap: 10px;
}
.navHr {
  display: none;
}

@media (max-width:650px) {
  nav {
    flex-direction: column;
    margin-top: 10px;
  }
  .navLinks {
    margin-top: 10px;
  }
  .navContact {
    display: flex;
    gap: 15px;
  }
  .navButtonBottom {
    display: none;
  }
}
@media (max-width: 568px) {
  .navLogo {
    font-size: 1.5rem;

  }
}