@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
  /* outline: 2px solid red; */
}


html, body {
  background-color: #fff;
  overflow-x: hidden;
  width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

/* Chapdan chiqish animatsiyasi */
@keyframes slideInLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Animatsiyani qo‘llaymiz */
.leftContainer,
.rightContainer,
.one,
.leftText,
.topHomeTextCall,
.topContainerImageCall,
.homeButton {
  animation: slideInLeft 1s ease forwards;
  opacity: 0; /* boshlang‘ich holatda yashirin */
}

/* Har bir elementga ozgina kechikish qo‘shamiz (ketma-ket chiqishi uchun) */
.topHomeTextCall {
  animation-delay: 0.2s;
}
.leftText {
  animation-delay: 0.4s;
}
.one:nth-child(1) {
  animation-delay: 0.6s;
}
.one:nth-child(2) {
  animation-delay: 0.8s;
}
.one:nth-child(3) {
  animation-delay: 1s;
}
.one:nth-child(4) {
  animation-delay: 1.2s;
}
.homeButton {
  animation-delay: 1.4s;
}
.rightContainer {
  animation-delay: 1.6s;
}
